<?php
	if (session_status() == PHP_SESSION_NONE){session_start();}
	$dbUser = "user";
	$dbPassword = "password";
	$dbName = "aesop";
	$dbHost = "localhost";
	$baseURL = "/path/";
	$serverPath = "/path/";
	
?>
